/* .main{
    background-image: url('https://res.cloudinary.com/people-matters/image/upload/q_auto,f_auto/v1625166167/1625166166.jpg'); 
    background-size: 100px;  
    background-repeat: no-repeat ;
}  */