.files-dropzone{
  display: flex;
  width: 100%;
  
  justify-content: center;
  align-items: center;
  height: 40px;
  font-family: Poppins;
  font-weight: bold;
  border-radius: 6px;
  border: 1px solid blue;
  color: blue;
}

.files-dropzone:hover{
  background-color: blue;
  color: white;
  cursor: pointer;
  transition: all .2s ease-in-out;
-webkit-transition: all .2s ease-in-out;
}
