body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form-control {
  border: 0px !important;
  border-radius: 0px !important;
  border-bottom: 2px solid gray !important;
  padding: 10px 5px !important;
  font-size: 16px !important;
  margin: 0 !important;
  background: transparent !important;
  transition: all 0.4s ease-out;
}

.form-control:focus {
  border: none !important;
  border-bottom: 2px solid #00dbde !important;
  box-shadow: none !important;
}

.form-label {
  font-size: 20px !important;
  font-weight: 400 !important;
  margin-bottom: 0px !important;
  margin-top: 20px !important;
}

.form_button {
  background: #021547 !important;
  border-radius: 100px !important;
  padding: 10px 0px !important;
  margin: 50px 0px !important;
  transition: all 0.6s ease-out;
}
.form_button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: #00dbde !important;
  color: black !important;
}

.css-1xlkkeq:focus, .css-1xlkkeq[data-focus]{
  z-index: 1;
  box-shadow: none !important;
}


@media (max-width: 1335px){
  .infoHolders{
    margin-inline-start: 0px !important;
    margin-inline-end: 3px !important;
  }
}

@media (max-width: 910px){
  .avatarImage{
    width: 23% !important;
    height: 23% !important;
    margin: 0px !important;
    margin-right: 3px !important;
  }
}

@media (max-width: 768px){
  .builderContainer{
    align-items: center !important;
    justify-content: center !important;
  }
}

@media (max-width: 766px){
  .avatarImage{
    margin: 15px !important;
  }
}

@media (max-width: 768px){
  .builderTabs{
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 400px){
  .avatarImage{
    width: 21% !important;
    height: 21% !important;
    margin: 0px !important;
    margin-right: 2px !important;
  }
}